@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color:linear-gradient(to right, #000000 0%, #434343  51%, #000000  100%);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 440px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

.container h1 {
  color: #61045F;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}

.calculadora {
  width: 400px;
}

.display {
  font-size: 2em;
  width: 100%;
  text-align: right;
  border-color: #61045F;
  color: #61045F;
}

.btn {
  width: 100%;
  height: 50px;
  font-size: 1em;
  border: none;
  background-image: linear-gradient(to right, #AA076B 0%, #61045F  51%, #AA076B  100%);
  color: greenyellow;
  cursor: pointer;
}

.btn:hover {
  background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%);;
  color: yellow;
}

#operadores {
  background-image: #61045F;
}

#especiais {
  background-color: #DD2476;
}

#igual {
  background-color: rgb(1, 137, 137);
}